<div *ngIf="accountSelected">
  <div class="account-balance mt-3" [ngClass]="demoRealClass()">{{accountSelected.broker.name}}
    - {{accountSelected.getAccountType()}} - <span [countUp]="currentBalance"
                                                   [options]="{prefix: this.currencyCode, decimalPlaces: 2}">0</span>
  </div>

  <div class="card-header mt-3 mb-3">
    <form (ngSubmit)="createTrade()" [formGroup]="form">
      <div class="form-row">
        <div class="col-md-3">
          <input type="text" [formControl]="form.controls['value']" placeholder="Investment" class="form-control"
                 mask="0*.00"
                 [dropSpecialCharacters]="false" [ngClass]="formUtils.showSuccessOrError('value')">
          <div *ngIf="formUtils.showFieldError('value')" class="invalid-feedback">
          <span
            *ngIf="form.get('value').errors.required || form.get('value').errors.min">Investment must be at least 1!</span>
            <span
              *ngIf="form.get('value').errors.max">Investment can't be higher than {{form.get('value').errors.max.max}}</span>
          </div>
        </div>

        <div class="col-md-3">
          <input type="text" [formControl]="form.controls['profit']" placeholder="Profit" sufix="%"
                 class="form-control" mask="0*.00"
                 [dropSpecialCharacters]="false" [ngClass]="formUtils.showSuccessOrError('profit')">
          <div *ngIf="formUtils.showFieldError('profit')" class="invalid-feedback">
            <span *ngIf="form.get('profit').errors.required">Profit value is required</span>
          </div>
        </div>


        <div class="col-md-3">
          <select [formControl]="form.controls['result']" class="form-control"
                  [ngClass]="formUtils.showSuccessOrError('result')">
            <option value="" disabled selected>ITM or OTM?</option>
            <option value="1">ITM</option>
            <option value="0">OTM</option>
          </select>

          <div *ngIf="formUtils.showFieldError('result')" class="invalid-feedback">
            <span *ngIf="form.get('result').errors.required">You must inform if operation was ITM or OTM</span>
          </div>


          <input type="hidden" [formControl]="form.controls['accountId']">
          <input type="hidden" [formControl]="form.controls['typeTrade']">
        </div>

        <div class="col-md-3">
          <button [disabled]="form.invalid || submitted" type="submit" class="btn btn-success">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="chartContainer" style="height: 370px; width: 100%;" class="mb-5"></div>


<div *ngIf="accountTrades.length" class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <th>#</th>
    <th>Broker/Account</th>
    <th>Value</th>
    <th>Profit</th>
    <th>Result</th>
    <th>Result Balance</th>
    <th colspan="2"></th>
    </thead>

    <tbody>
    <tr *ngFor="let trade of accountTrades.reverse()
">
      <td>{{trade.id}}</td>
      <td>{{accountSelected.broker.name}}/{{accountSelected.getAccountType()}}</td>
      <td>{{trade.value | currency:accountSelected.currency}}</td>
      <td>{{trade.profit}}%</td>
      <td>{{trade.result ? 'ITM' : 'OTM'}}</td>
      <td
        [className]="winLoseClass(trade)">{{trade['result-balance'] ? (trade['result-balance'] | currency:accountSelected.currency) : (trade.resultBalance | currency:accountSelected.currency)}}</td>
      <td width="1%">
        <button type="button" class="btn btn-light">
          <fa-icon [icon]="['far', 'edit']"></fa-icon>
        </button>
      </td>
      <td width="1%">
        <button type="button" class="btn btn-danger">
          <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!accountTrades.length">
  <p class="text-center">No trades yet!</p>
</div>
