.account-balance {
  color: #28a745;
  font-weight: bold;
  font-size: 24px;
}

.account-balance.real {
  color: #28a745;
}

.account-balance.demo {
  color: darkorange;
}

.lose {
  color: #dc3545;
}

.win{
  color: #28a745;
}

.page-link{
  cursor: pointer;
}

tr.trade-line {
  height: 47px;
}

button.btn-withdraw {
  background-color: orange;
  border-color: orange;
}
