<h1>New broker account</h1>
<hr>

<div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="broker">Broker</label>
      <select id="broker" class="form-control">
        <option value="">-- Choose a broker --</option>
        <option *ngFor="let broker of brokers" value="{{broker.id}}">{{broker.name}}</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="type-account">Account type</label>
      <select id="type-account" class="form-control">
        <option value="">-- Choose an account type --</option>
        <option value="D">Demo account</option>
        <option value="2">Real account</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="currencies">Currency</label>
      <ng-select labelForId="currencies" [searchable]="true" placeholder="-- Choose a currency --"
                 class="form-control-ng-select">
        <ng-option *ngFor="let currency of currencies" [value]="currency.code">{{currency.code}}
          - {{currency.currency}}</ng-option>
      </ng-select>
    </div>

    <div class="form-group col-md-6">
      <label for="initial-balance">Initial balance (example: 1234.50)</label>
      <input id="initial-balance" type="text" class="form-control" mask="0*.00">
    </div>
  </div>

  <button class="btn btn-success">Save</button>
</div>
