<h1>New broker account</h1>
<hr>

<ng-flash-message></ng-flash-message>

<form [formGroup]="form" (ngSubmit)="createAccount()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="broker">Broker</label>
      <select id="broker" formControlName="broker_id" class="form-control" [ngClass]="formUtils.showSuccessOrError('broker_id')">
        <option value="" disabled selected>-- Choose a broker --</option>
        <option *ngFor="let broker of brokers" value="{{broker.id}}">{{broker.name}}</option>
      </select>
      <div *ngIf="formUtils.showFieldError('broker_id')" class="invalid-feedback">
        <span *ngIf="form.get('broker_id').errors.required">Broker required!</span>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="type-account">Account type</label>
      <select formControlName="type_account" id="type-account" class="form-control" [ngClass]="formUtils.showSuccessOrError('type_account')">
        <option value="" disabled selected>-- Choose an account type --</option>
        <option value="D">Demo account</option>
        <option value="R">Real account</option>
      </select>

      <div *ngIf="formUtils.showFieldError('type_account')" class="invalid-feedback">
        <span *ngIf="form.get('type_account').errors.required">Account type required!</span>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="currencies">Currency</label>
      <select id="currencies" formControlName="currency" class="form-control" data-live-search="true" [ngClass]="formUtils.showSuccessOrError('currency')">
        <option value="">-- Select a currency --</option>
        <option *ngFor="let currency of currencies" value="{{currency.code}}">{{currency.code}} - {{currency.currency}}</option>
      </select>

      <div *ngIf="formUtils.showFieldError('currency')" class="invalid-feedback">
        <span *ngIf="form.get('currency').errors.required">Currency required!</span>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="initial-balance">Initial balance (example: 1234.50)</label>
      <input formControlName="initial_balance" id="initial-balance" type="text" class="form-control" mask="0*.00" [ngClass]="formUtils.showSuccessOrError('initial_balance')">
      
      <div class="invalid-feedback" *ngIf="formUtils.showFieldError('initial_balance')">
        <span *ngIf="form.get('initial_balance').errors.required">Initial balance required!</span>
        <span *ngIf="form.get('initial_balance').errors.min">Minimum deposit value is {{form.get('initial_balance').errors.min.min}}</span>
      </div>
    </div>
  </div>

  <button class="btn btn-success mr-2" [disabled]="form.invalid || submitted">Save</button>
  <button class="btn btn-outline-secondary" (click)="goBack()">Cancel</button>
</form>
