<h1>New account</h1>
<hr>

<!-- TODO: npm install currency-codes -->

<div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="broker">Broker</label>
      <select id="broker" class="form-control">
        <option value="">-- Choose a broker --</option>
        <option value="1">Binary.com</option>
        <option value="2">IQ Option</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="type-account">Account type</label>
      <select id="type-account" class="form-control">
        <option value="">-- Choose an account type --</option>
        <option value="D">Demo account</option>
        <option value="2">Real account</option>
      </select>
    </div>
  </div>
</div>
