<nav *ngIf="userSignedIn()" class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/brokers">
          <span data-feather="home"></span>
          <fa-icon [icon]="['fas', 'university']"></fa-icon> Brokers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/accounts">
          <span data-feather="home"></span>
          <fa-icon [icon]="['fas', 'donate']"></fa-icon> Accounts
        </a>
      </li>
    </ul>
  </div>
</nav>
