<div class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
    <label for="inputEmail">Enter your email</label>
  </div>

  <button class="btn btn-lg btn-success btn-block" type="submit">
    <span>Login</span>
    <!--<div *ngIf="submitted">
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Loading...
    </div>-->
  </button>

</div>
