<ng-flash-message></ng-flash-message>

<form [formGroup]="form" (ngSubmit)="forgotPassword()" class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" formControlName="login" placeholder="Email address" autofocus [ngClass]="formUtils.showSuccessOrError('login')">
    <label for="inputEmail">Enter your email</label>
    <div *ngIf="formUtils.showFieldError('login')" class="invalid-feedback">
      <span *ngIf="form.get('login').errors.required">Email required!</span>
      <span *ngIf="form.get('login').errors.email">Invalid email!</span>
    </div>
  </div>

  <button [disabled]="form.invalid || submitted" class="btn btn-lg btn-success btn-block" type="submit">
    <span *ngIf="!submitted">Reset password</span>
    <div *ngIf="submitted">
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Loading...
    </div>
  </button>

</form>
