<form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputName" class="form-control" placeholder="Name" required>
    <label for="inputName">Your name</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPasswordConfirmation" class="form-control" placeholder="Password Confirmation" required>
    <label for="inputPasswordConfirmation">Password Confirmation</label>
  </div>

  <div class="form-label-group">
    <input type="number" id="inputRisk" class="form-control" placeholder="Risk">
    <label for="inputRisk">Risk (%)</label>
  </div>
  <button class="btn btn-lg btn-success btn-block" type="submit">Confirm</button>
</form>
